@model AppUser
@{
    ViewData["Title"] = $"User: {Model.UserName} | Gamescore";
}

@functions{

}


@if (Model.UserName == User.Identity.Name)
{
    <p>
        <b><a asp-area="Identity" asp-page="/Account/Manage/Index" >Account settings</a></b>
    </p>
}


<div id="user">
        <div class="card game">

            <div class="card-header">

                <div><h3>@Model.UserName</h3></div>

            </div>

            <div class="card-body game-desc d-flex flex-column">

                <div class="d-flex flex-row">                    
                    <p>
                        Всем привет
                    </p>
                </div>

                <div>


                </div>
            </div>
        </div>

        
        <h3>Игры
        @if (Model.UserName == User.Identity.Name)
        {
            <button id="addGame" onclick="toggleModal()">+</button>
        }
        </h3>

        <div class="profile-games">
        @foreach (var game in Model.GamesFavorited)
        {
            <p>* @game.Name</p>
        }
        </div>    
        
        <div class="modal fade show" style="display:none; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
            <div class="modal-dialog edit-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h3 class="modal-title">Add to collection</h3>
                        <button type="button" class="close" onclick="toggleModal()">&times;</button>
                    </div>

                    <form action="@Url.Action("AddGame")" method="post">
                        <div class="modal-body">
                
                            <div class="form-group">
                                <label for="game-name">Name</label>
                                <input type="text" name="Alias" class="form-control" id="game-name" placeholder="Name of the game" />
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn" onclick="toggleModal()">Cancel</button>
                            <button type="submit" id="submitEditedItem" class="btn btn-primary" onclick="toggleModal()">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
</div>

@section Scripts
{
 <script>

     //$( "#addGame" ).click(function() {
     //   alert( "Handler for .click() called." );
     //});

     function toggleModal() {
         $('.modal').toggle();
     }

 </script>
} 
