.game {
    max-width: 70%;
    margin: 0.5em 0;
}

.game-point {
    min-width: 78px;
}

.game-point .game-icon {
    display: flex;
    font-size: small;
    color: gray;
    margin: 0.2em;
}

.icon-small {
    width: 25px;
    height: 25px;
}

.game-icon img {
    margin-right: 0.5em;
}

.game-image {
    float: left;
    margin: 0 0.8em 0.8em 0;
    width: 100px;
    height: 100px;
}

.icon-star {
    transition: 0.4s ease-out;
}

.icon-star.is-active {
    filter: sepia(100%) brightness(300%) saturate(1000%);
    transition: 0.2s;
}
