
.entity-image.big {
    margin-right: 1em;
    align-self: center;
}

.title-secondary.big {
    font-size: larger;
}

#main-tab {
    margin-bottom: 1rem;
}

.action-buttons {
    margin-top: 0.5em;
}

.action-buttons input {
    margin-right: 0.1em;
}

.rating-section {
    margin-top: 0.5em;
}

.rating-section > p {
    font-weight: bold;
    margin-right: 0.5em;
    margin-bottom: 0;
}

/* Star animation */

.rating {
    width: max-content;
    display: flex;
}

.icon-star {
    transition: 0.4s ease-out;
    width: 22px;
    height: 22px;
}

.icon-star.is-active, .icon-star.is-pressed {
    filter: sepia(100%) brightness(300%) saturate(800%);
    transition: 0.2s;
}

.rating:hover .icon-star.is-pressed:not(.is-active) {
    filter: none;
}

