/* Vue Transitions */
.fade-enter-from,
.fade-leave-to,
.fade-enter {
    opacity: 0 !important;
}
.fade-enter-active {
    opacity: 1;
    transition: all 0.8s;
}
.fade-leave-active {
    opacity: 1;
    transition: all 0.2s;
}

/* General */

.entity-image.big {
    margin-right: 1em;
}

#main-info div {
    margin: 0 0.8em 0.8em 0;
}

#match-data {
    flex: 2;
}

.form-group#group-text {
    flex: 3;
}

textarea {
    resize: none;
    height: 75%;
}

/* Player names */
.player-toggle {
    max-width: max-content;
    cursor: pointer;
    transition: color ease-in-out 0.1s;
}
.player-toggle:hover {
    color: #0d6efd;
    transition: color ease-in-out 0.1s;
}