html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EDEEF0;
    font-family: 'Lato', sans-serif;
}

main {
    background: #fff;
    padding: 2em;
    border-radius: 1em;
    border: solid 1px #DCE1E6;
}

.container {
    max-width: 60%;
}

.navbar {
    padding: 0.35em 0;
}

.form-floating {
    margin: 0.5em 0;
}

a {
    text-decoration: none !important;
}

.form-group {
/*    display: flex;
    align-items: center;*/
    margin-bottom: 0.5em;
}

.form-group label {
/*    flex-basis: 150px;
    margin-right: 1em;*/
    margin-bottom: 0.25em;
}

.btn-primary {
    background-color: #4785e1;
    border: none;
}

.card {
    border-radius: 0.8em;
    box-shadow: 0 0.2em 0.15em rgba(0,0,0,0.1);
}

.card-header:first-child {
    border-radius: 0.8em 0.8em 0 0;
}