#profile {
    max-width: 90%;
    margin: auto;
}

#profile #info .card {
    margin: 0.3em;
}

#profile #info .user {
    width: max-content;
}

#profile #info .friends {
    margin: 0 0 0 auto;
    width: 16rem;    
}

.profile-games {
    display: flex;
}

.profile-games > .item {
    width: 100px;
    height: 100px;
    justify-content: center;
}

.friends-items {
    padding-left: 1rem;
}

.lower-block {
    margin: auto 0 0 0;
    justify-content: center;
    display: flex;
}

.friends-request {

}

.friends-request > .buttons {
    justify-content: center;
    display: flex;
}

.friends-request > .buttons > input {
    margin: 0 0.2rem;
    width: 5rem;
}

.user-property {
    font-weight: bold;
    margin-right: 0.1em;
}

.user-info p {
    margin: 0;
}

.main-info {
    padding: 1rem 0 0 0;
}