#profile {
    max-width: 90%;
    margin: auto;
}

#profile #info .card {
    margin: 0.3em;
}

#profile #info .user {
    flex: 5;
}

#profile #info .friends {
    flex: 3;
}

.profile-games {
    display: flex;
}

.profile-games > .item {
    width: 100px;
    height: 100px;
    justify-content: center;
}
