@model IEnumerable<Game>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <p>Gamescore is a website dedicated to showcase you the world of board games.</p>
</div>
